@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-outfit: "Outfit", sans-serif;
    --font-lexend: "Lexend", sans-serif;
    --font-primary: var(--font-outfit);
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --duration: 40s;
    --gap: "40px";
}

body {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

.column-center {
    @apply flex flex-col justify-center items-center h-screen;
}

.row-center {
    @apply flex justify-center items-center h-screen;
}

/* Example of using Lexend in a specific element */
.lexend {
    font-family: var(--font-lexend);
}

.mask {
    mask-image: linear-gradient(
        to right,
        #000,
        #000,
        transparent 0,
        #000 var(--scroll-shadow-size),
        #000 calc(100% - var(--scroll-shadow-size)),
        transparent
    ) !important;
}

@keyframes drip-expand {
    0% {
        opacity: 0.2;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}

.animate-drip-expand {
    animation: drip-expand 0.42s linear;
}

@keyframes indeterminate-bar {
    0% {
        transform: translateX(-50%) scaleX(0.2);
    }

    to {
        transform: translateX(100%) scaleX(1);
    }
}

.animate-indeterminate-bar {
    animation: indeterminate-bar 1.5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite normal none running;
}

.animate-none {
    animation: none;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes scrolling-banner {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - var(--gap) / 2));
    }
}

.animate-scrolling-banner {
    animation: scrolling-banner var(--duration) linear infinite;
}

@keyframes scrolling-banner-vertical {
    0% {
        transform: translateY(0);
    }

    to {
        transform: translateY(calc(-50% - var(--gap) / 2));
    }
}

.animate-scrolling-banner-vertical {
    animation: scrolling-banner-vertical var(--duration) linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.animate-spinner-ease-spin {
    animation: spinner-spin 0.8s ease infinite;
}

@keyframes spinner-spin {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}

.animate-spinner-linear-spin {
    animation: spinner-spin 0.8s linear infinite;
}
